.Projects {
  margin-top: 3.375rem;
}

.Projects__Title {
  margin-bottom: 2rem;
  font-size: clamp(22px, 5vw, 48px);
  color: var(--text-color);
}

.Projects__List {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Projects__Block {
  margin-right: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.313rem;
  flex-basis: 329px;
}

.Projects__Block__Info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.Projects__Block__Text {
  height: 68px;
}

.Projects__Block__Buttons {
  margin-bottom: 4.313rem;
  display: flex;
  align-items: center;
}

@media (max-width: 802px) {
  .Projects__Block {
    flex-basis: 100%;
    margin: 0;
  }
  .Projects__Block__Info {
    align-items: center;
  }
  .Projects__Block__Buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }
  .Projects__Block__Text {
    text-align: center;
  }
  .Github__Icon {
    width: 48px;
    height: 48px;
  }
}

@media (max-width: 370px) {
  .Projects__Block {
    margin: 0;
  }
  .Projects__Block__Image {
    width: 100%;
  }
  .Projects__Block__Buttons {
    margin-bottom: 2rem;
  }
}