/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables*/
:root {
  --primary-color: #99fbe4;
  --primary-color-950: #1d3933;
  --primary-color-500: #69d0b7;
  --secondary-color: #18181b;
  --text-color: #f9fffd;
  --NeutralAlpha: #07090d70;
  --AquaMarine500: #69d0b7;
}

/*↪︎ Typography*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--primary-color);
}

h1 {
  font-size: clamp(32px, 6vw, 68px);
}

h2 {
  font-size: clamp(28px, 5vw, 64px);
}

h3 {
  font-size: clamp(24px, 4vw, 30px);
}

h4 {
  font-size: clamp(20px, 3vw, 24px);
}

h5 {
  font-size: clamp(18px, 2.5vw, 20px);
}

h6 {
  font-size: clamp(16px, 2vw, 18px);
  color: #b3b5b8;
}

p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  max-width: clamp(2ch, 75vw, 75ch);
  font-size: clamp(14px, 2vw, 18px);
  color: var(--text-color);
}

span {
  color: var(--AquaMarine500);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

li {
  all: unset;
}

/* Estilos generales */

body {
  background-color: var(--secondary-color);
  background-image: url("/assets/images/Background.webp");
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px;
}

/* Iconos */

.Icon svg path,
circle {
  transition: all 0.25s ease-out;
}

.Icon svg:hover path {
  transform: translateY(-2px);
}

.Icon-Github svg:hover path {
  fill: #e7bb0b;
}

.Icon-Instagram svg:hover path {
  stroke: #e72c0b;
}

.Icon-Instagram svg:hover circle {
  fill: #e72c0b;
  transform: translateY(-2px);
}

.Icon-Linkedin svg:hover path {
  fill: #9acd32;
}

.Icon-Email svg:hover path {
  stroke: #0be7c2;
}

.Icon-Heart svg:hover path {
  stroke:#e72c0b;
}

/* Tippy */

.tippy-box {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}