.Footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--NeutralAlpha);
  padding: var(--space-9);
  border-radius: var(--radius-lg);
}

.Footer__Info {
  display: flex;
  gap: var(--space-footer-info);
  align-items: center;
}

.Footer__InfoText {
  color: var(--text-color);
}

.Footer__Links {
  display: flex;
  gap: var(--space-3);
  align-items: center;
}

.Footer__Copy {
  text-align: end;
}


@media (max-width: 55rem) {
  .Footer {
    justify-content: center;
    gap: var(--space-6);
  }
  .Footer__Copy {
    text-align: center;
  }
  .Footer__Copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-6);
  }
}

@media (max-width: 27.5rem) {
  .Footer {
    padding: var(--space-4);
  }
  .Footer__Info {
    flex-wrap: wrap;
    justify-content: center;
  }
  .Footer__InfoText {
    font-size: clamp(1rem, 10vw, 1.5rem);
  }

}